<p style="text-align:center;">
<img src="https://github.com/digital-futures-academy/DataScienceMasterResources/blob/main/Resources/datascience-notebook-header.png?raw=true"
     alt="DigitalFuturesLogo"
     style="float: center; margin-right: 10px;" />
</p>

# Digital Futures Pandas Challenge

- This challenge will consist of a set of exercises related to the Pandas package.

- You will have 75 minutes to finish - add, commit and push to run the tests - enter the final score as your submission on Noodle. You should keep an eye on time and make sure you will be able to do this

- To complete the exercises, use the additional files in the same folder as this notebook.  Do not edit any files other than this Notebook and make sure that you follow all instructions!

When committing your code, only include the code that you are asked for - this will help ensure automated grading can take place.

In [2]:
import pandas as pd

## Task 1. Data Import and Data Frames

### Task 1.1

> Read in the 'students.csv' file that is in the same directory as this notebook into a DataFrame called `students_df`.  
> Display the first 6 rows of the DataFrame to check

### Task 1.2

> Read in the 'students_marks.csv' file as another DataFrame called `students_marks_df`.

### Task 1.3

> Set 'ID' as the index in both data frames.

### Task 1.4

> Join the two tables together into a new DataFrame called `students_data_df`.

---

## Task 2 - Working with New Data

### Task 2.1

> Reproduce the below table by creating a new DataFrame from scratch - call it `new_students_df`.  
> - Feel free to use lists, series or dictionaries but make sure the columns are named correctly. 
> Add it to the bottom of the original DataFrame.

![Extra Students](https://github.com/digital-futures-academy/DataScienceMasterResources/blob/main/Resources/extra_students.png?raw=True")

### Task 2.2

> Combine this new DataFrame with the original DataFrame `students_data_df` and save it as `all_students_data_df`.

---

## Task 3 - Adding Columns and Slicing

### Task 3.1

> Absences need to be recorded - add a column the the `all_students_data_df` DataFrame with the name `Absences` and starting all values ***`0`***.

### Task 3.2

>Using `loc` (not `iloc`!), set the number of absences of the student with `id` `3` to `2`.

### Task 3.3

>Using `iloc` (not `loc`!), set the number of absences of the student with `id` `2` to `1`.

## Task 4 - Modifying and Aggregating Data Frames

### Task 4.1

> Create a pivot table called `num_of_students_in_each_class` with:
> 
> - `Year` as the rows (indexes),
> - `Class` as the columns, and
> - The number of students as the values.
>
> Ensure that:
> 
> - You use a single column (e.g., `"L1"`) for the `values` parameter.
> - Any non-numeric values are replaced with `0`.
> - The resulting pivot table should not have multi-level columns.

### Task 4.2

> The school wants to change scoring system, and replace 1-10 with a letter grade.  
> Write a function that will change 10 to A, 9/8 to B, 7/6 to C and any lower scores to D.

In [ ]:
# Do not change the name of this method!
def grading_change(x: int) -> str:
    # Implement your logic below and replace the pass statement with your code
    pass
# End grading_change - do not delete!

### Task 4.3

> Use the function to ***permanently change*** the grades in the grade columns in the `all_students_data_df` DataFrame.

---

## Task 5 - Further Analysis

### Task 5.1

> Create a Data Frame (assign it to a new variable called `math_a_students`) from the `all_students_data_df` DataFrame.  
> It should show all students who achieved an `A` in `Maths`. Then, show their `Class`, and *mark* in `L1`, `L2` and `Maths`.

### Task 5.2

> Permanently sort the new DataFrame by the descending marks in `L1`.

### Task 5.3

> Display the first 10 rows of the sorted DataFrame.

---